/* Accordion ==================================================  */

.accordion {
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1.5em 1.5em;
  background: #eee;
  text-transform: uppercase;
  color: #444;
  cursor: pointer;
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  transition: all 0.3s;
}

.accordion-header:hover {
  background: #ccc;
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #3f3c3c;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: "\002b";
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: 0.3s all;
}

.accordion__item.active > .accordion-header:after {
  content: "\2212";
}

.accordion__item.active .accordion-header {
  background: #862121;
  color: white;
}

.anchor-color{
  color: #862121;
}


.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: black;
}

/* Typewriter Loading Animation ===================================  */

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.now>a {
  color: #af2b2b !important;
}
/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* MiniCards ============================================= */

.minicard {
  text-align: center;
  padding: 0.5em;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
}

.minicard-box:hover {
  box-shadow: 1px 1px 5px #999;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

/* Inverted CSS ============================================== */

.inv {
  background-color: #862121 !important;
  position: relative;
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.white-text {
  color: white;
}

.link {
  webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ital-hover{
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.ital-hover:hover {
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.title-inv {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}

.title-inv:hover {
  color: black;
}

.color-change-2x {
  -webkit-animation: color-change-2x 10s linear infinite alternate both;
  animation: color-change-2x 10s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

/* Flicker Animation ============================================== */

.flicker-3 {
  -webkit-animation: flicker-3 2.5s linear infinite both;
  animation: flicker-3 2.5s linear infinite both;
}

@-webkit-keyframes flicker-3 {
  0%,
  100% {
    opacity: 1;
  }
  32.98% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  34.02% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.9% {
    opacity: 0;
  }
  35.92% {
    opacity: 1;
  }
  38.98% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  39.8% {
    opacity: 0;
  }
  39.82% {
    opacity: 1;
  }
  83.98% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  84.9% {
    opacity: 0;
  }
  84.92% {
    opacity: 1;
  }
}

@keyframes flicker-3 {
  0%,
  100% {
    opacity: 1;
  }
  32.98% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  34.02% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.9% {
    opacity: 0;
  }
  35.92% {
    opacity: 1;
  }
  38.98% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  39.8% {
    opacity: 0;
  }
  39.82% {
    opacity: 1;
  }
  83.98% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  84.9% {
    opacity: 0;
  }
  84.92% {
    opacity: 1;
  }
}


.go-top {
  display: none;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  right: 0px;
  z-index: 600;
  background-color: black;
  color: white;
  border: 0px;
  cursor: pointer;
  padding: 15px;
  width: 30px;
  height: 30px;
}

/*****************/
.mr-0{
  margin-right: 0!important;
}

.ml-0{
  margin-left: 0!important;
}

.m-0{
  margin:0!important;
}